article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

html, body {
	width: 100%;
  height: 100%;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	text-align: center;
}

.image__card img {
	background-size: cover;
}

// .show__info {
// 	display: flex;
// }

.city__container {
	position: relative;
}

.city__image {
	background-size: cover;
}

.city__title {

}

.map__container {
  width: 500px;
  height: 500px;
}

#google__map {
  height: 100%
}

// Teleport API autocomplete widget styling

.tp-autocomplete {
  position: relative;
  max-width: em(400px);
}

.tp-ac__input {
  width: 40%;
  padding: em(5px, 20px);

  border: solid 1px transparent;
  border-radius: 0;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

  font-size: em(20px);
  font-weight: bold;

  -webkit-appearance: none;

  text-overflow: ellipsis;

  &::placeholder {
    color: #ccc;

    -webkit-font-smoothing: antialiased;
  }

  &:focus {
    outline: none;
  }

  &::-ms-clear {
    display: none;
  }

  .spinner & {
    padding-right: em(30px, 20px);
    margin-right: em(-30px, 20px);
  }
}

.tp-ac__list {
  position: absolute;
  z-index: 1;

  width: 100%;
  margin: 0;
  padding-left: 0;

  list-style-type: none;

  color: #979797;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

  font-size: em(14px);
}

.tp-ac__item {
  overflow: hidden;

  padding: em(5px, 14px) em(10px, 14px);

  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover,
  &.is-active {
    background-color: #ddd;
  }

  &.no-results,
  &.no-results:hover {
    cursor: default;

    background-color: #fff;
  }

  span {
    color: #4a4a4a;

    font-weight: bold;
  }
}


// Loading spinner
@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner:before {
  position: absolute;
  top: 50%;
  right: em(8px);

  width: em(16px);
  height: em(16px);
  margin-top: em(-10px, 16px);
  margin-left: em(-10px, 16px);

  content: '';
  animation: spinner 1s linear infinite;

  border: 2px solid rgba(0, 0, 0, .3);
  border-top-color: rgba(0, 0, 0, .6);
  border-radius: 50%;
}