article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }


//-------------------------------------------------------------

//Website Color pallets
$background: #757c8b;
$main-color: #25ce98;


html, body {
	width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  // font-family: 'Quicksand', sans-serif;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url("../images/pexels-photo-96414.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-x: hidden;
}

::selection {
  background: $main-color;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 200;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__container {
  background-color: rgba(0, 0, 0, 0.65);
  position: relative;
  height: 100vh;
}

.intro__title {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__title div:nth-of-type(2) {
  font-size: 3.063rem;
  padding-bottom: 2.4%;
}

.intro__logo {
  height: 100vh;
}

.intro__title span {
  color: $main-color;
}

#intro__search {
  font-size: 1.2rem;
  width: 50vw;
}



.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.header__container {
  padding-top: 3%;
  padding-bottom: 1.7%;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Abel", sans-serif;
}

.header__container h1 {
  color: #fff;
  padding-bottom: 0.6%;
  margin: 0;
}

.header__container span {
  color: $main-color;
}
.header__container .tp-autocomplete {
  width: 100%;
  margin: 0;
}

.header__container .tp-autocomplete .tp-autocomplete {
  width: 50%;
  margin: 0;
}

.header__container .tp-autocomplete .tp-ac__list {

}

.information__container {
  display: flex;
  background-color:  #fdfdfd;
  padding-right: 3.5%;
  border-radius: 6px;
  transition: all 0.2s ease-in;
  position: relative;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: $main-color;
  z-index: 200;
  border-radius: 6px;
}

.load {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-color;
  content: "";
  z-index: 1000;
  transition: all 0.2s ease-in;
}

.loader {
  position: absolute;
  left: 45%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $background; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 600;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.information__aside {
  display: flex;
  flex-direction: column;
  flex: 1 0 38.2%;
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.info__title--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: felx-start;
}




.info__section {
  width: 50%;
  flex: 1 1 62.8%;
  display: flex;
  flex-direction: column;
  padding-top: 2.5%;
  padding-left: 3.5%;
  justify-content: space-between;
  padding-bottom: 2.5%;
}

.city__country {
  margin: 0;
  color: #757C8B;
}

.population__detail {
  margin: 0;
  color: #757C8B;
}

.weather__container {
  color: $background;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.weather__icon {
  height: 45px;
  width: 45px;
}

.weather__description {
  margin: 0;
}

.weather__temp {
  margin: 0;
}

.details__info {
  width: 100%;
}

.accelerator__names {
  margin: 0;
  margin-bottom: 2.5%;
}

.img__info {
  font-size: 1.25rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: #fff;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba( 0, 0, 0, 0.55);
}

.info__image {  
  position: relative;
}

.img__info span {
  margin: 0;
  display: inline;
  white-space: nowrap;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.info__image img {
  background-size: cover;
  max-width: 100%;
  border-top-left-radius: 6px;
}

.img__info--container {
  position: absolute;
  height: 100%;
}

.show__info {
  text-align: left;
}

.city__container {
	position: relative;
}

.city__description p {
  margin: 0;
  margin-top: 2%;
  color: #0F0C09
}

.city__image {
	background-size: cover;
}

.city__title {
  margin: 0;
  color: $main-color;
  font-weight: 300;
  font-size: 1.7rem;
}

.map__container {
  width: 100%;
  flex: 1 0 100%;
}

#google__map {
  height: 27.5vh;
  border-bottom-left-radius: 6px;
}

.chart__container {
  position: relative;
  width: 100%;
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

#creator {
  position: absolute;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  transform: rotate(90deg);
  font-weight: 300;
  top: 50%;
  right: 0;
}

// Teleport API autocomplete widget styling

.tp-autocomplete {
  position: relative;
  max-width: em(400px);
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.tp-ac__input {
  width: 51%;
  padding: em(5px, 20px);
  padding-left: 10px;
  border: solid 1px transparent;
  border-radius: 9px;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .35);
  font-size: em(20px);
  font-weight: bold;

  -webkit-appearance: none;

  text-overflow: ellipsis;

  &::placeholder {
    color: #ccc;

    -webkit-font-smoothing: antialiased;
  }

  &:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
  }

  &::-ms-clear {
    display: none;
  }

  .spinner & {
    padding-right: em(30px, 20px);
    margin-right: em(-30px, 20px);
  }
}

.tp-ac__list {
  position: absolute;
  z-index: 1;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  width: 51%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  color: #979797;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

  font-size: em(14px);
}

.tp-ac__item {
  overflow: hidden;
  padding-left: 10px;
  padding: em(5px, 14px) em(10px, 14px);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover,
  &.is-active {
    background-color: #ddd;
  }
  &:last-child {
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
  }

  &.no-results,
  &.no-results:hover {
    cursor: default;
    background-color: #fff;
  }

  span {
    color: #4a4a4a;

    font-weight: bold;
  }
}


// Loading spinner
@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner:before {
  position: absolute;
  top: 50%;
  right: em(8px);

  width: em(16px);
  height: em(16px);
  margin-top: em(-10px, 16px);
  margin-left: em(-10px, 16px);

  content: '';
  animation: spinner 1s linear infinite;

  border: 2px solid rgba(0, 0, 0, .3);
  border-top-color: rgba(0, 0, 0, .6);
  border-radius: 50%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (max-height: 650px) {
  #google__map {
    height: 45vh;
  }
}


@media (max-width: 1140px) {

  #google__map {
    height: 45vh;
  }

  .details__info {
    flex-grow: 1;
  }

  .chart__container {
    flex-grow: 4;
  }
}


@media (max-width: 767px) {


  .city__description p {
    text-align: justify;
  }

  .header__container h1 {
    text-align: center;
  }

  .header__container .tp-autocomplete .tp-autocomplete {
    width: 100%;
    margin-left: 25%;
  }


  .fullscreen-bg {
    background: url('../images/pexels-photo-96414.jpeg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .information__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }


  .map__container {
    display: none;
  }

  .info__section {
    padding: 4%;
  }

}

@media (max-width: 550px) {
  #creator {
    display: none;
  }

  .intro__title {
    text-align: center;
  }

  .intro__title  div {
    font-size: 2.2rem;
    padding: 2.5%;
  }

  .intro__title div:nth-of-type(2){
    font-size: 1.7rem;
  }

  .tp-autocomplete .tp-autocomplete{
    font-size: 1rem;
  }

  #intro__search {
    width: 100vw;
  }

  #intro__search .tp-autocomplete {
    width: 100%;
  }

  #intro__search .tp-autocomplete ul {
   left: 50%;
   transform: translateX(-50%);
  }

}